/* **************************************************** */
/*                         setup                        */
/* **************************************************** */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* **************************************************** */
/*                       general                        */
/* **************************************************** */
html {
  font-size: 125%;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
	scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.wrapper {
  max-width: 3840px;
  width: 80%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
	overflow: hidden;
}

h1,
h2 {
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
  font-size: 5rem;
	text-shadow: 0 0 10px rgba(100,100,100, 1);
	color: #4c003e;
}

h2 {
  font-size: 3rem;
  color: #4c003e;
}

h3 {
	margin: 20px 20px 10px;
	text-transform: uppercase;
}

/* **************************************************** */
/*                        header                        */
/* **************************************************** */

header {
  background-image:
    linear-gradient(to bottom, rgba(204, 219, 220, .5), rgba(204, 219, 220, .5)),
    url('./assets/headerBackground.jpg');
	background-size: cover;
	background-position: 50% 60%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.headerInnerWrapper {
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  color: #4c003e;
}

.headerInnerWrapper p {
	padding: 15px 0;
	font-family: 'Hind Siliguri', sans-serif;
}

.headerInnerWrapper select,
.headerInnerWrapper input,
.headerInnerWrapper button {
  margin: 5px;
}

.headerInnerWrapper select,
.headerInnerWrapper input {
  width: 100%;
  padding: 0 10px;
  border: none;
  color: #cf511b;
  text-align: center;
}

.headerInnerWrapper select:hover,
.headerInnerWrapper select:focus,
.headerInnerWrapper input:hover,
.headerInnerWrapper input:focus {
  box-shadow: 0 0 3px #cf511b;
}

.input {
  margin-bottom: 15px;
}

input::placeholder {
  color: #cf511b;
  opacity: 1;
}

.headerInnerWrapper button {
  letter-spacing: 1.1px;
  background: #36002c;
	border: none;
	margin: 0 20px;
  padding: 10px;
}

.selectInput {
	display: flex;
	margin-top: 10px;
}

select,
input {
	-webkit-box-shadow: 5px 2px 25px 0 rgba(100, 100, 100, 0.5);
	box-shadow: 5px 2px 25px 0 rgba(100, 100, 100, 0.5);
	background: rgba(204, 219, 220, .6);
}

select {
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-position: 82px 7px;
	width: 100px;   
}

select,
input,
button {
	border-radius: 2px;
}
	
button {
  text-transform: uppercase;
  letter-spacing: 1.1px;
  background: #4c003e;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px;
  transition: .2s ease-in-out;
}

.submitButton {
	margin-top: 30px;
	width: 100%;
}

.submitButton button {
  width: auto;
	padding: 8px 25px;
}

.communitySuggestionPage button {
  width: calc(50% - 20px);
}

.headerInnerWrapper button:hover,
.headerInnerWrapper button:focus,
.dynamicConfirmButton:hover,
.dynamicConfirmButton:focus,
.savedCombos button:hover,
.savedCombos button:focus {
	background: #cf511b;
}


/* **************************************************** */
/*                dynamic main display                  */
/* **************************************************** */
.dynamicMainDisplay {
  position: relative;
  min-height: 100vh;
  background: #ccdbdc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dynamicMainDisplayInnerWrapper {
  width: 95%;
  margin: 0 auto;
}

/* **************************************************** */
/*                       carousel                       */
/* **************************************************** */
.carouselContainer {
  width: 90%;
  max-width: 90%;
}

.sc-EHOje,
.bFVIv,
.sc-ifAKCX,
.eeaShJ {
	height: 25px;
	width: 25px;
	margin: 20% 10px;
	background: white;
	border-radius: 50%;
	transition: .2s;
}

.sc-EHOje:hover,
.bFVIv:hover,
.sc-ifAKCX:hover,
.eeaShJ:hover {
	color: white;
	background: #084c61;
}

.sc-EHOje:active,
.bFVIv:active,
.sc-ifAKCX:active,
.eeaShJ:active {
	color: white;
	background: #cf511b;
}


/* **************************************************** */
/*                         cards                        */
/* **************************************************** */
.venueCard,
.restaurantCard {
  background: white;
  width: 90%;
  min-height: 87%;
	margin: 25px auto;
	padding: 0;
	position: relative;
  border-radius:2px;
}

.venueCard p,
.restaurantCard p {
	margin: 0 20px;
	font-size: 0.9rem;
}

.restaurantCard p span {
	font-weight: bold;
}

.venueCard h3,
.restaurantCard h3 {
	margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;
  hyphens: auto;
}

.show {
	-webkit-box-shadow: 0 0 30px 5px rgba(0,0,0, .6);
	box-shadow: 0 0 30px 5px rgba(0,0,0, .6);
}

.hide {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.venueCard .imageContainer {
	height: 50%;
}

.venueCard p:first-of-type,
.restaurantCard h4:last-of-type {
	background-color: #cf511b;
	border-radius: 5px;
	color: white;
	margin: 10px auto;
	letter-spacing: .6px;
	font-size: .8rem;
}

.restaurantCard h4 {
	width: 70px;
}

.venueCard p:first-of-type,
.restaurantCard .notRated {
	width: 120px;
}

.restaurantCard p:first-of-type {
	font-weight: bold;
}

.fas {
	color: white;
	font-size: 1rem
}

.fas:hover,
.restaurantCard .fas:hover {
	color: #dfe132;
}

.restaurantCard .fas {
  color: black;
}

.moreInfo {
	background: none;
	border: none;
  font-size: 2rem;
  line-height: 0;
  position: absolute;
  top: 2%;
	right: 2%;
  z-index: 2;	
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* **************************************************** */
/*                        modals                        */
/* **************************************************** */

.venueLink,
.restaurantLink {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed #cf511b;
  text-shadow: 0 0 10px black;
}

.venueLink:hover,
.restaurantLink:hover {
	color: #4c003e;
}

.venueModal,
.restaurantModal {
	width: 80%;
	background: rgba(204, 219, 220, .8);
	border: 3px solid #cf511b;
  border-radius: 2px;
  color: pink;
}

.venueModal {
  padding: 50px;
}
.restaurantModal {
  padding: 70px;
}

.venueModal h2,
.venueModal,
.restaurantModal,
.restaurantModal {
	color: #36002c;
}

.comboModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.comboCards {
  background: rgba(204, 219, 220, 1);
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.venueResult,
.restaurantResult {
  background: #fdfdfd;
  width: 40%;
}

.userName,
.optionToSaveComboButtons {
  margin: 20px auto;
  display: flex;
}

.userName {
  flex-direction: column;
}

.userName input {
  text-align: center;
}

.saveComboButton button {
  padding: 10px 48px;
}

.resetButton button {
  padding: 10px 20px;
}

.optionToSaveComboButtons {
  flex-direction: row;
  justify-content: space-evenly;
}

.exitModal {
  font-size: 2rem;
  line-height: 0;
  margin: 20px;
	padding: 0;
}

.fa-window-close {
	background: #000;
  color: #ccdbdc;
  border: 2px solid black;
  border-left: 3px solid black;
}

/* **************************************************** */
/*                   SavedCombos page                   */
/* **************************************************** */

.createNewCombo {
	margin: 50px 0;
}

.savedCombos {
	background: #ccdbdc;
}

.savedCombosInnerContainer {
	display: flex;
	flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.savedCombosInnerContainer .imageContainer {
	height: 70%;
}

.eventComboContainer,
.restaurantComboContainer {
  background: #fdfdfd;
  margin: 3px;
}

.comboContainer {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.savedCombos h3 {
	font-size: 2rem;
	color: #4c003e;
}

.removeButton {
  margin: 10px;
}

/* **************************************************** */
/*                     media queries                    */
/* **************************************************** */

@media (max-width: 850px) {
  .selectInput {
    display: block;
  }

  .headerInnerWrapper select,
  .headerInnerWrapper input {
    text-align: center;
  }

  .venueCard,
  .restaurantCard {
    min-height: 70%;
  }

  .XGglj {
    margin: 15px auto;
  }

  .venueModal h2,
  .restaurantModal h2 {
    font-size: 5.4vw;
  }

  .savedCombosInnerContainer {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .venueResult,
  .restaurantResult {
    width: 77%;
    margin: 8px 0;
  }

  .savedCombosInnerContainer {
    flex-wrap: wrap;
  }

  .comboContainer {
    width: 70%;
    margin: 8px auto;
  }
}

@media (max-width: 535px) {
  .headerInnerWrapper {
    padding: 8px 0;
  }
}

@media (max-width: 400px) {
  .headerInnerWrapper h1 {
    font-size: 4rem;
  }

  .comboCards {
    width: 95%;
  }

  .headerInnerWrapper button {
    font-size: 0.85rem;
  }

  .comboContainer {
    width: 90%;
  }
}

@media (max-width: 340px) {
  .optionToSaveComboButtons button {
    font-size: 0.85rem;
  }
}
