/* **************************************************** */
/*                         setup                        */
/* **************************************************** */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* **************************************************** */
/*                       general                        */
/* **************************************************** */
html {
  font-size: 125%;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
	scroll-behavior: smooth;
}

img {
	width: 100%;
	max-width: 100%;
	/* display: inline-block; */
}

.App {
  text-align: center;
}

.wrapper {
  max-width: 3840px;
  width: 80%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  overflow: hidden;
}

h1,
h2 {
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
}

h1 {
  font-size: 5rem;
	text-shadow: 0 0 10px rgba(100,100,100, 1);
	
}

h2 {
  font-size: 3rem;
  color: #4c003e;
}

h3 {
	margin: 20px 20px 10px;
	text-transform: uppercase;
}

/* **************************************************** */
/*                        header                        */
/* **************************************************** */

header {
  background-image:
    linear-gradient(to bottom, rgba(204, 219, 220, .5), rgba(204, 219, 220, .5)),
    url('./assets/brad-knight-780006-unsplash.jpg');
	background-size: cover;
	background-position: 50% 60%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.headerInnerWrapper {
  width: 80%;
  margin: 0 auto;
  padding: 7%;
  color: #4c003e;
}

.headerInnerWrapper p {
	padding: 15px 0;
	font-family: 'Hind Siliguri', sans-serif;
}

.headerInnerWrapper select,
.headerInnerWrapper input,
.headerInnerWrapper button {
  margin: 5px;
}

.headerInnerWrapper select,
.headerInnerWrapper input {
  width: 100%;
  padding: 0 10px;
  border: none;
}

.input {
  margin-bottom: 15px;
}

.headerInnerWrapper button {
  letter-spacing: 1.1px;
  background: #36002c;
	border: none;
	margin: 0 20px;
  padding: 10px;
}

.selectInput {
	display: flex;
	margin-top: 10px;
}

select,
input {
	-webkit-box-shadow: 5px 2px 25px 0 rgba(100, 100, 100, 0.5);
	box-shadow: 5px 2px 25px 0 rgba(100, 100, 100, 0.5);
	background: rgba(204, 219, 220, .6);
}

select {
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-position: 82px 7px;
	width: 100px;   
}

select,
input,
button {
	border-radius: 2px;
}

button {
	color: #ccdbdc;
}

.submitButton {
	margin-top: 30px;
	width: 100%;
}

.submitButton button {
  width: auto;
	padding: 8px 25px;
}

.communitySuggestionPage button {
  width: calc(50% - 20px);
}

.headerInnerWrapper select:hover,
.headerInnerWrapper select:focus,
.headerInnerWrapper select:active,
.headerInnerWrapper input:hover,
.headerInnerWrapper input:focus,
.headerInnerWrapper input:active {

}

.headerInnerWrapper button:hover,
.headerInnerWrapper button:focus {
	background: #cf511b;
	transition: .2s;
}

/* **************************************************** */
/*                dynamic main display                  */
/* **************************************************** */
.dynamicMainDisplay {
  position: relative;
  min-height: 100vh;
  background: #ccdbdc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dynamicMainDisplayInnerWrapper {
  width: 95%;
  margin: 0 auto;
}

.dynamicConfirmButton {
  text-transform: uppercase;
  letter-spacing: 1.1px;
  background: #cf511b;
  color: #ccdbdc;
  border: none;
  border-radius: 2px;
  padding: 10px;
}

/* **************************************************** */
/*                       carousel                       */
/* **************************************************** */
.carouselContainer {
  width: 90%;
	max-width: 90%;
}

.sc-EHOje,
.bFVIv,
.sc-ifAKCX,
.eeaShJ {
	height: 25px;
	width: 25px;
	margin: 20% 10px;
	background: white;
	border-radius: 50%;
	transition: .2s;
}

.sc-EHOje:hover,
.bFVIv:hover,
.sc-ifAKCX:hover,
.eeaShJ:hover {
	color: white;
	background: #084c61;
}

.sc-EHOje:active,
.bFVIv:active,
.sc-ifAKCX:active,
.eeaShJ:active {
	color: white;
	background: #cf511b;
}


/* **************************************************** */
/*                         cards                        */
/* **************************************************** */
.venueCard,
.restaurantCard {
  background: white;
  width: 90%;
  height: 90%;
  margin: 0 auto;
	position: relative;
  border-radius: 2px;
}

.venueCard:focus,
.venueCard:active {
	-webkit-box-shadow: 5px 2px 25px 0 rgba(100, 100, 100, 0.5);
	box-shadow: 5px 2px 25px 0 rgba(100, 100, 100, 0.5);
}
.imageContainer {
	height: 40%;
}

.venueCard img,
.restaurantCard img {
	height: 100%;
}

.venueCard p:first-of-type {
	background-color: #cf511b;
	width: 100px;
	border-radius: 5px;
	color: white;
	margin: 20px auto 10px;
	letter-spacing: .6px;
	font-size: .8rem;
}

.moreInfo {
	background: none;
	border: none;
}

.fas {
	color: white;
	font-size: .7rem
}

.fas:hover {
	color: #dfe132;
}

.moreInfo {
  font-size: 2rem;
  line-height: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* **************************************************** */
/*                        modals                        */
/* **************************************************** */
/* bringing the style for each modal here later */
.venueModal h1,
.restoModal h1 {
  /* margin: 20px 0; */
}

.venueLink,
.restaurantLink {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed #cf511b;
}

.comboModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comboCards {
  background: rgba(223, 225, 50, 0.5);
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.venueResult,
.restoResult {
  width: 30%;
}

.userName {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.exitModal {
  font-size: 2rem;
  background: #cf511b;
  line-height: 0;
  border: 1px solid #cf511b;
  margin: 20px;
}

/* **************************************************** */
/*                   SavedCombos page                   */
/* **************************************************** */
